In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler , OneHotEncoder
from sklearn.metrics import r2_score
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression , LassoCV , Lasso , Ridge , RidgeCV , ElasticNetCV , ElasticNet

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('clean_housing_dataset.csv')

In [7]:
df.drop(columns=['Unnamed: 0'] , inplace=True)
df.sample(10)

                  location  bath  balcony   price  bhk  total_area_in_sqrt
985          Bisuvanahalli   2.0      2.0   32.00    2               845.0
1906           HRBR Layout   3.0      2.0  120.00    3              1625.0
3389           Kodigehaali   3.0      0.0   65.00    3              1320.0
6249                Ulsoor   2.0      1.0  130.00    2              1160.0
2784                Jakkur   2.0      1.0   80.04    2              1290.0
1886         HAL 2nd Stage   3.0      0.0  500.00    3              2700.0
3648  Lakshminarayana Pura   2.0      2.0  100.00    2              1336.0
6380               Varthur   2.0      2.0   47.00    2              1250.0
305         Ambedkar Nagar   4.0      2.0  120.00    3              1950.0
3277           Kathriguppe   2.0      2.0   80.99    3              1350.0

In [10]:
x = df.drop(columns=['price'])
y = df['price']

In [12]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [13]:
import pandas_profiling as pp

In [14]:
df_pp = pp.ProfileReport(df)
df_pp.to_file("report1.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [24]:
scaler = StandardScaler()

KeyError: 10

In [29]:
x_arr = scaler.fit_transform(x.drop(columns=['location']))

In [32]:
x.columns

Index(['location', 'bath', 'balcony', 'bhk', 'total_area_in_sqrt'], dtype='object')

In [34]:
df1 = pd.DataFrame(x_arr , columns=['bath', 'balcony', 'bhk', 'total_area_in_sqrt'])

In [35]:
df1['location'] = df['location']

In [36]:
df1

          bath   balcony       bhk  total_area_in_sqrt             location
0     1.580881 -0.750587  1.709826            1.516262  1st Block Jayanagar
1     0.569234  0.530940  0.588767            0.127267  1st Block Jayanagar
2    -0.442412  1.812466  0.588767            0.406204  1st Block Jayanagar
3    -0.442412 -2.032114  0.588767           -0.362297  1st Block Jayanagar
4    -0.442412  0.530940 -0.532292           -0.322449  1st Block Jayanagar
...        ...       ...       ...                 ...                  ...
6903  0.569234  1.812466  0.588767            0.197855         Yeshwanthpur
6904  2.592527  0.530940  3.951943            1.117780         Yeshwanthpur
6905  0.569234  1.812466  0.588767            0.383434         Yeshwanthpur
6906 -0.442412 -2.032114  0.588767            1.003928                south
6907  0.569234  0.530940  1.709826            2.165219                south

[6908 rows x 5 columns]

In [31]:
[variance_inflation_factor(x_arr , i) for i in range(x_arr.shape[1])]

[4.869795097881513, 1.1019973246836878, 4.68676324371895, 2.190698308261429]

In [20]:
np.array(df)

array([['1st Block Jayanagar', 4.0, 1.0, 428.0, 4, 2850.0],
       ['1st Block Jayanagar', 3.0, 2.0, 194.0, 3, 1630.0],
       ['1st Block Jayanagar', 2.0, 3.0, 235.0, 3, 1875.0],
       ...,
       ['Yeshwanthpur', 3.0, 3.0, 135.0, 3, 1855.0],
       ['south', 2.0, 0.0, 480.0, 3, 2400.0],
       ['south', 3.0, 2.0, 410.0, 4, 3420.0]], dtype=object)

without standardscaler

In [68]:
column_tranform = make_column_transformer((OneHotEncoder(sparse=False) , ['location']) , remainder='passthrough')

In [69]:
liner = LinearRegression(normalize=True)

In [70]:
scaler1 = StandardScaler()

In [71]:
make_pip = make_pipeline(column_tranform , scaler1 , liner )

In [83]:
x_train , x_test , y_train , y_test =train_test_split(x , y , test_size=.05 , random_state=0)

In [84]:
print(x_train.shape)
print(x_test.shape)

(6562, 5)
(346, 5)

In [85]:
make_pip.fit(x_train , y_train)

c:\Users\Vishwajeet\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [86]:
y_predict = make_pip.predict(x_test)

In [88]:
r2_score( y_test , y_predict)

0.7671841931591692

In [89]:
lass = Lasso()

In [90]:
make_pip_lasso = make_pipeline(column_tranform , scaler1 , lass )

In [92]:
make_pip_lasso.fit(x_train , y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [93]:
y_predict = make_pip_lasso.predict(x_test)

In [94]:
r2_score(y_test , y_predict)

0.7594368897437829