In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression , Ridge , Lasso , LassoCV , RidgeCV , ElasticNet , ElasticNetCV
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

In [2]:
data = pd.read_csv("Admission_Prediction.csv")

In [3]:
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332.0,108.0,5.0,4.5,4.0,9.02,1,0.87
496,497,337.0,117.0,5.0,5.0,5.0,9.87,1,0.96
497,498,330.0,120.0,5.0,4.5,5.0,9.56,1,0.93
498,499,312.0,103.0,4.0,4.0,5.0,8.43,0,0.73
499,500,327.0,113.0,4.0,4.5,4.5,9.04,0,0.84

In [4]:
from pandas_profiling import *

In [5]:
data_pp = ProfileReport(data)

In [6]:
data_pp.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [7]:
data_pp.to_file("report_1.html")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [8]:
data.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [9]:
data['GRE Score'].fillna(np.mean(data['GRE Score']) , inplace=True)
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.000000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.000000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,316.558763,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.000000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.000000,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332.000000,108.0,5.0,4.5,4.0,9.02,1,0.87
496,497,337.000000,117.0,5.0,5.0,5.0,9.87,1,0.96
497,498,330.000000,120.0,5.0,4.5,5.0,9.56,1,0.93
498,499,312.000000,103.0,4.0,4.0,5.0,8.43,0,0.73
499,500,327.000000,113.0,4.0,4.5,4.5,9.04,0,0.84

In [10]:
data['TOEFL Score'].fillna(np.mean(data['TOEFL Score']) , inplace=True)
data['University Rating'].fillna(np.mean(data['University Rating']) , inplace=True)
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.000000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.000000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,316.558763,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.000000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.000000,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332.000000,108.0,5.0,4.5,4.0,9.02,1,0.87
496,497,337.000000,117.0,5.0,5.0,5.0,9.87,1,0.96
497,498,330.000000,120.0,5.0,4.5,5.0,9.56,1,0.93
498,499,312.000000,103.0,4.0,4.0,5.0,8.43,0,0.73
499,500,327.000000,113.0,4.0,4.5,4.5,9.04,0,0.84

In [11]:
data.drop(columns=['Serial No.'] , inplace=True)

In [12]:
data

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337.000000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,324.000000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,316.558763,104.0,3.0,3.0,3.5,8.00,1,0.72
3,322.000000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,314.000000,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332.000000,108.0,5.0,4.5,4.0,9.02,1,0.87
496,337.000000,117.0,5.0,5.0,5.0,9.87,1,0.96
497,330.000000,120.0,5.0,4.5,5.0,9.56,1,0.93
498,312.000000,103.0,4.0,4.0,5.0,8.43,0,0.73
499,327.000000,113.0,4.0,4.5,4.5,9.04,0,0.84

In [13]:
y = data['Chance of Admit']
x = data.drop(columns=['Chance of Admit'])

In [14]:
x

      GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0    337.000000        118.0                4.0  4.5  4.5  9.65         1
1    324.000000        107.0                4.0  4.0  4.5  8.87         1
2    316.558763        104.0                3.0  3.0  3.5  8.00         1
3    322.000000        110.0                3.0  3.5  2.5  8.67         1
4    314.000000        103.0                2.0  2.0  3.0  8.21         0
..          ...          ...                ...  ...  ...   ...       ...
495  332.000000        108.0                5.0  4.5  4.0  9.02         1
496  337.000000        117.0                5.0  5.0  5.0  9.87         1
497  330.000000        120.0                5.0  4.5  5.0  9.56         1
498  312.000000        103.0                4.0  4.0  5.0  8.43         0
499  327.000000        113.0                4.0  4.5  4.5  9.04         0

[500 rows x 7 columns]

In [15]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit, Length: 500, dtype: float64

In [16]:
x.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research'],
      dtype='object')

In [17]:
scalar = StandardScaler()

In [18]:
new_x_arr = scalar.fit_transform(x)

In [19]:
new_x_arr

array([[ 1.84274116e+00,  1.78854223e+00,  7.78905651e-01, ...,
         1.09894429e+00,  1.77680627e+00,  8.86405260e-01],
       [ 6.70814288e-01, -3.10581135e-02,  7.78905651e-01, ...,
         1.09894429e+00,  4.85859428e-01,  8.86405260e-01],
       [ 5.12433309e-15, -5.27312752e-01, -1.07876604e-01, ...,
         1.73062093e-02, -9.54042814e-01,  8.86405260e-01],
       ...,
       [ 1.21170361e+00,  2.11937866e+00,  1.66568791e+00, ...,
         1.63976333e+00,  1.62785086e+00,  8.86405260e-01],
       [-4.10964364e-01, -6.92730965e-01,  7.78905651e-01, ...,
         1.63976333e+00, -2.42366993e-01, -1.12815215e+00],
       [ 9.41258951e-01,  9.61451165e-01,  7.78905651e-01, ...,
         1.09894429e+00,  7.67219636e-01, -1.12815215e+00]])

In [20]:
x_new = pd.DataFrame(new_x_arr , columns=['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research'])

In [21]:
x_new

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1.842741e+00,1.788542,0.778906,1.137360,1.098944,1.776806,0.886405
1,6.708143e-01,-0.031058,0.778906,0.632315,1.098944,0.485859,0.886405
2,5.124333e-15,-0.527313,-0.107877,-0.377773,0.017306,-0.954043,0.886405
3,4.905178e-01,0.465197,-0.107877,0.127271,-1.064332,0.154847,0.886405
4,-2.306679e-01,-0.692731,-0.994659,-1.387862,-0.523513,-0.606480,-1.128152
...,...,...,...,...,...,...,...
495,1.392000e+00,0.134360,1.665688,1.137360,0.558125,0.734118,0.886405
496,1.842741e+00,1.623124,1.665688,1.642404,1.639763,2.140919,0.886405
497,1.211704e+00,2.119379,1.665688,1.137360,1.639763,1.627851,0.886405
498,-4.109644e-01,-0.692731,0.778906,0.632315,1.639763,-0.242367,-1.128152
499,9.412590e-01,0.961451,0.778906,1.137360,1.098944,0.767220,-1.128152

In [22]:
x_new_pp = ProfileReport(x_new)
x_new_pp.to_file("x_new_report1.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [32]:
vif_df = pd.DataFrame()
vif_df["feature"] = x.columns

In [34]:
vif_df['vif_score'] = [variance_inflation_factor(new_x_arr , i) for i in range(new_x_arr.shape[1])]

In [35]:
vif_df

             feature  vif_score
0          GRE Score   4.153268
1        TOEFL Score   3.792866
2  University Rating   2.508768
3                SOP   2.775750
4                LOR   2.037308
5               CGPA   4.651670
6           Research   1.459311

In [89]:
x_train , x_test , y_train , y_test = train_test_split(x_new, y, test_size=0.25 , random_state=100)

In [90]:
print("x_train shape" , x_train.shape)
print("x_test shape" , x_test.shape)
print("y_train shape" , y_train.shape)
print("y_test shape" , y_test.shape)

x_train shape (375, 7)
x_test shape (125, 7)
y_train shape (375,)
y_test shape (125,)

In [91]:
x_train

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
219,-0.410964,-0.527313,-0.107877,0.127271,0.017306,-0.258918,-1.128152
391,0.129925,-0.196476,-0.107877,-1.387862,-0.523513,0.121746,-1.128152
375,-1.132150,-1.023567,-0.994659,-1.387862,-1.064332,-1.516763,-1.128152
19,-1.222298,-0.858149,-0.107877,0.127271,-0.523513,-0.126513,-1.128152
229,0.670814,0.630615,0.778906,-0.377773,-0.523513,0.717568,0.886405
...,...,...,...,...,...,...,...
343,-1.042002,-0.692731,-0.994659,-0.882817,0.017306,-0.738885,-1.128152
359,0.400370,-0.031058,-0.994659,-1.387862,-2.145970,-0.225816,-1.128152
323,-1.042002,-0.858149,-0.994659,-1.387862,-1.064332,-0.656132,-1.128152
280,-0.501113,-0.858149,-0.107877,1.137360,0.558125,0.105196,0.886405
8,-1.312447,-0.858149,-1.881441,-1.387862,-2.145970,-0.954043,-1.128152

In [92]:
lr = LinearRegression()

In [93]:
lr.fit(x_train , y_train)

LinearRegression()

In [94]:
lr.predict([[-5.011126e-01,-0.692731,-0.107877,-1.387862,0.558125,-0.805087,-1.128152]])

C:\Users\Vishwajeet\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.6245536])

In [95]:
x_test

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
69,1.031407,1.292288,0.778906,1.137360,0.558125,0.965827,0.886405
29,-0.591261,-1.354404,-0.994659,-1.892906,-1.605151,-2.112585,-1.128152
471,-0.501113,-0.692731,-0.107877,-1.387862,0.558125,-0.805087,-1.128152
344,-1.943484,-1.850658,-0.994659,-1.892906,-1.605151,-2.046382,-1.128152
54,0.490518,0.465197,-0.107877,-0.377773,0.017306,-0.954043,-1.128152
...,...,...,...,...,...,...,...
46,1.121555,1.126869,1.665688,0.632315,1.639763,1.197535,0.886405
50,-0.320816,-1.519822,-0.107877,-0.882817,1.098944,-0.457525,0.886405
78,-1.853336,-2.016077,-0.994659,-0.377773,-1.605151,-1.715370,0.886405
304,-0.320816,-0.196476,-0.994659,-0.882817,-1.605151,-0.242367,-1.128152
478,0.129925,-0.692731,-0.107877,0.632315,1.098944,-0.143063,0.886405

In [96]:
y_test

69     0.78
29     0.54
471    0.64
344    0.47
54     0.70
       ...
46     0.86
50     0.76
78     0.44
304    0.62
478    0.71
Name: Chance of Admit, Length: 125, dtype: float64

In [97]:
y_test.loc[471]

0.64

In [98]:
x_test.loc[471]

GRE Score           -0.501113
TOEFL Score         -0.692731
University Rating   -0.107877
SOP                 -1.387862
LOR                  0.558125
CGPA                -0.805087
Research            -1.128152
Name: 471, dtype: float64

In [99]:
lr.score(x_test , y_test)

0.8262844735686962

In [100]:
def calculate_adjusted_r2(x , y):
    R2 = lr.score(x, y)
    n = x.shape[0]
    k = x.shape[1]
    adjusted_r2 = 1 - ((1 - R2) * (n - 1)) / (n - k - 1)
    return adjusted_r2

In [101]:
calculate_adjusted_r2(x_test , y_test)

0.8158912369446011

In [102]:
lr.coef_

array([0.015458  , 0.01908417, 0.00381077, 0.00315846, 0.01678637,
       0.07622763, 0.01400522])

In [103]:
lr.intercept_

0.7181156002659718

In [105]:
lassocv = LassoCV(cv=10, max_iter=200000, normalize=True)
lassocv.fit(x_train , y_train)

C:\Users\Vishwajeet\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Lasso())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(

LassoCV(cv=10, max_iter=200000, normalize=True)

In [106]:
lassocv.alpha_

9.742054000449729e-06

In [107]:
lasso = Lasso(alpha=8.780923861635552e-06)
lasso.fit(x_train ,y_train)

Lasso(alpha=8.780923861635552e-06)

In [108]:
lasso.score(x_test , y_test)

0.8262965048977438